<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>{{ .Title }} - {{ .Site.Params.Description}}</title>
<meta name="description" content="{{ .Site.Params.Description }}">
<meta name="author" content="#systemzoo on freenode">

<!-- flatzoo stylesheets -->
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700">
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/lists.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/prettyPhoto.css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/fontello/css/fontello.css">


<!-- Main Style -->
<link rel="stylesheet" href="/css/style.css">
<!-- Skins -->
<link rel="stylesheet" href="/css/skins/skins.css">
<!-- Responsive Style -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- Favicons -->
<link rel="shortcut icon" href="=images/favicon.png">

<!-- Podcast Atom feed -->
<link href="/podcasts/index.xml" rel="alternate" type="application/rss+xml" title="Podcast feed" />
<!-- Full site Atom feed -->
{{ if .RSSlink }}
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}


{{ if isset .Site.Params "GATID" }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ .Site.Params.GATID }}', 'auto');
  ga('send', 'pageview');

</script>
{{ end }}


<!-- Use Video.js for all the things because they rock -->
<link href="http://vjs.zencdn.net/5.2.1/video-js.css" rel="stylesheet">
<!-- If you'd like to support IE8 -->
<script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
