<!-- <div class="widget widget-about">
  <div class="widget-about-img"><img alt="" src="http://placehold.it/100x100"></div>
  <h3>System Zoo</h3>
  <p>Maintaining a menagerie of techonology? System Zoo is a perspective on the
     interesting challenges we face as operators, developers, and designers in
     today's Technology workforce.</ins></p>
  <div class="social-ul">
    <ul>
      <li class="social-twitter"><a href="http://twitter.com/{{ .Site.Params.Twitter }}"><i class="fa fa-twitter"></i></a></li>
      <li class="social-github"><a href="http://github.com/{{ .Site.Params.GithubOrg }}"><i class="fa fa-github"></i></a></li>
      <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
      <li class="social-irc"><a href="#"><i class="fa fa-comment"></i></a></li>
    </ul>
  </div><!-- End social-ul -->
  <!-- <div class="clearfix"></div> -->
<!-- </div><!-- End widget -->

<div class="widget">
    <div class="widget-title"><i class="fa fa-folder-open"></i>All Tags</div>
    <div class="widget-categories">
        <ul>
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a><i class="fa fa-angle-double-right"></i></li>
          {{ end }}
        </ul>
    </div><!-- End widget-categories -->
</div><!-- End widget -->
